.projectImage{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.projectImageStyle{
    border-top-left-radius:22px;
    border-top-right-radius: 22px;   
}
#floating_phone{
    border: none;
}
#time{
animation: time 10 alternate linear forwards 1s;
}
@keyframes time {
    from{
       color: white;
    }to{
        color:lime;
    }
}